<h1> New Link </h1>

<form action="/links" method="POST">
  <label for="title">
    Title
    <input type="text" name="title">
  </label>
  <label for="link">
    Link
    <input type="text" name="link">
  </label>

<input type="submit" value="Submit">

</form>
